

p{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    color: chocolate;
    font-size: 16px;

}
table{
    text-align: start;
    width: 60;
}
h3{
    color: chocolate;
}

header{
    background-color: rgb(245, 245, 245);
    text-align: center;
padding: 10px;

}
#maincontainer{
    width: 900px;
    background-color: bisque;
    margin:  auto;
}
footer{
background-color:rgb(245, 245, 245);
text-align: center;
 padding: 10px;

}
nav{
    overflow:hidden;
    background-color: aquamarine;

}
nav a {
    float: left;
    display: block;
    color:black ;
     text-align: center ;
     padding:14px 16px;
     text-decoration: none;
}
nav a:hover{
    background-color:bisque;
    color:black;
}
/* formating hero section */
.hero{
    min-height:200vh;
    background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url(IMG-20250411-WA0028.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content{
    max-width: 800px;
    color:blueviolet;
}
.hero h2{
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: azure;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: black;
}
form{
    margin: 40px;
}
input[type="text"],
input[type="email"],
textarea{
    display:block;
    padding: 10px;
    width: 80%;
    font-family: monospace;
    text-transform: uppercase;
}